@charset "UTF-8";

/* 
    Paleta de cores

    Verde #49a09d
    lil치s #5f2c82
*/

* {
    padding: 0px;
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body,html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.438);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}

section#login > div#imagem {
    background: #5f2c82 url(../imagens/pexels-ben-neale-380337.jpg) no-repeat;
    height: 200px;
    background-size: cover;
    display: block;
}

section#login > div#formul치rio {
    display: block;
    padding: 10px;
}

div#formul치rio > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formul치rio > p {
    font-size: 0.8em;
    padding-bottom: 5px;
}

div.campo label {
 display: none;
}

div.campo > span {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    background-color: #ffffff;
    font-size: 1em;
    width: calc(100% - 47px);
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 2px;
    transform: translatey(-12px);
}

div.campo > input:focus-within {
    background-color: white;
}

form > div.campo {
    background-color: #5f2c82;
    border: 2px solid #5f2c82;
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 5px;
    margin: 8px 0px;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #357471;
}

form > a.botao {
    display: block;
    text-align: center;
    border: 1px solid #1f4947;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #eeeeee;
    border-radius: 5px;
    text-decoration: none;
    color: #1f4947;
    padding-top: 5px;
    margin-top: 7px;
}

form > a.botao > span {
      font-size: 1em;
}

form > a.botao:hover {
    background-color: #6ae0dc;
}